*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

body{
   background-image:url(/images/ginny-rose-stewart-_kUCAyYFVBI-unsplash.jpg);
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     overflow: hidden;
     text-decoration: none;

  }



.wrapper {
  position: relative;
  width: 100%;
  max-width: 440px;
  height: 956px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


header {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding-left: 15px;
    margin-bottom: 27px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 90px;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.items {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.product-cart {
  width: 285px;
  height: 100px;
  border-radius: 12px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.34);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
   padding: 10px;
}

.cart-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-cart img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 0;
}

.product-cart p {
  margin: 5px 0;
  font-weight: bold;
  text-align: center;
}

.cart-total-wrapper {
  position: fixed;
  top: 778px;
  left: 132px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}

.total-label {
  font-weight: bold;
  color: #162042;
  font-size: 18px;
}

.total-box {
  background-color: white;
  padding: 6px 20px;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  min-width: 80px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
}